*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
    padding: 4rem;
    background-color: antiquewhite;
}

.dashboard{
    width: 100%;    
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

.section--first{
    grid-column: 1/6;
    grid-row: span 13;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

.card{
    background: #fff;
    width: 48%  ;
    height: 50%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.section--second{
    grid-column: 6/13;
    grid-row: span 13;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--first{
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media screen and (max-width: 85.7rem){
    .dashboard{
        height: auto;
        grid-template-rows: repeat(12,20rem);
    }
    .section--first{
        grid-column: 1/ -1;
        grid-row: 1/ 7;
    }
    .section--second{
        grid-column: 1/ -1;
        grid-row: 8/13;
    }
}